USE [WorkshopResults]
GO
/****** Object:  Table [dbo].[MasterPieceAccounting]    Script Date: 03.05.2023 11:28:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MasterPieceAccounting](
	[FirstName] [nvarchar](50) NOT NULL,
	[SecondName] [nvarchar](50) NOT NULL,
	[ThirdName] [nvarchar](50) NOT NULL,
	[WorkshopName] [nvarchar](50) NULL,
	[WorkshopBossName] [nvarchar](50) NULL,
	[WorkersCount] [int] NULL,
	[ACount] [int] NULL,
	[BCount] [int] NULL,
	[CCount] [int] NULL,
 CONSTRAINT [PK_MasterPieceAccounting] PRIMARY KEY CLUSTERED 
(
	[FirstName] ASC,
	[SecondName] ASC,
	[ThirdName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[MasterPieceAccounting] ([FirstName], [SecondName], [ThirdName], [WorkshopName], [WorkshopBossName], [WorkersCount], [ACount], [BCount], [CCount]) VALUES (N'Ba', N'Bar', N'Bara', N'Barab', N'Baraba', 3, 2, 0, 2)
INSERT [dbo].[MasterPieceAccounting] ([FirstName], [SecondName], [ThirdName], [WorkshopName], [WorkshopBossName], [WorkersCount], [ACount], [BCount], [CCount]) VALUES (N'Baraba', N'Barab', N'Bara', N'Bar', N'Ba', 2, 0, 2, 3)
INSERT [dbo].[MasterPieceAccounting] ([FirstName], [SecondName], [ThirdName], [WorkshopName], [WorkshopBossName], [WorkersCount], [ACount], [BCount], [CCount]) VALUES (N'Barabashka', N'Barabashk', N'Barabash', N'Barabas', N'Baraba', 2000, 200, 20, 2)
GO
