USE [master]
GO
/****** Object:  Database [WorkshopResults]    Script Date: 02.05.2023 11:45:41 ******/
CREATE DATABASE [WorkshopResults]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'WorkshopResults', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\WorkshopResults.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 10%)
 LOG ON 
( NAME = N'WorkshopResults_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\WorkshopResults_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [WorkshopResults].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [WorkshopResults]
GO
/****** Object:  Table [dbo].[MasterPieceAccounting]    Script Date: 02.05.2023 11:45:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MasterPieceAccounting](
	[FirstName] [nvarchar](50) NOT NULL,
	[SecondName] [nvarchar](50) NOT NULL,
	[ThirdName] [nvarchar](50) NOT NULL,
	[WorkshopName] [nvarchar](50) NULL,
	[WorkshopBossName] [nvarchar](50) NULL,
	[WorkersCount] [int] NULL,
	[ACount] [int] NULL,
	[BCount] [int] NULL,
	[CCount] [int] NULL,
 CONSTRAINT [PK_MasterPieceAccounting] PRIMARY KEY CLUSTERED 
(
	[FirstName] ASC,
	[SecondName] ASC,
	[ThirdName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
